.megafolio-container.noborder.norounded.dark-bg-entries
  - counter = 1
  - cats = ["one", "two", "three", "four"]
  - cat_num = 0
  - @posts.each do |p|
    .mega-entry.cat-all{:class => "cat-#{cats[cat_num]}", :id => "mega-entry-#{counter}", :"data-src" => p.image, :"data-width" => "504", :"data-height" => "400"}
      .mega-covercaption.mega-square-top.mega-landscape-right.mega-portrait-bottom.mega-transparent.mega-withsocialbar.mega-smallcaptions.mega-red.mega-transparent
        .mega-title= p.title
        .mega-date= p.updated_at.strftime("%B %d, %Y at %H:%m")
        %p=p.text
        
        .mega-rightfloat
          = link_to "Read article", p.url, :target => "_blank"
      .mega-socialbar
        %span.mega-leftfloat Share this
        %a{:href => "javascript:void(0)"}
          .mega-soc.mega-facebook.mega-leftfloat
        %a{:href => "javascript:void(0)"}
          .mega-soc.mega-twitter.mega-leftfloat
        .mega-show-more.mega-soc.mega-more.mega-rightfloat
        %a{:href => "javascript:void(0)"}
          .mega-soc.mega-like.mega-rightfloat
            %span 2
        %a{:href => "javascript:void(0)"}
          .mega-soc.mega-comments.mega-rightfloat
            %span= p.comments.length
      
      /.gallerycaption-bottom.mega-red.mega-landscape-right.mega-portrait-bottom.mega-transparent
      
          
      - counter = counter + 1
      - cat_num = cat_num + 1
      - if cat_num == 3
        - cat_num = 0


#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Submit Article
  .modal-body
    %form.form-horizontal#new_article_form
      .control-group
        %label.control-label{:for => "new_article_title"} Title
        .controls
          %input{:type => :text, :id => "new_article_title", :name => "new_article_title", :placeholder => "Title"}
      .control-group
        %label.control-label{:for => "new_article_text"} Why is it important?
        .controls
          %textarea{:id => "new_article_text", :name => "new_article_text", :placeholder => "Your comment"}
      .control-group
        %label.control-label{:for => "new_article_url"} Web Address
        .controls
          .input-prepend
            %span.add-on http://
            %input{:type => :text, :id => "new_article_url", :name => "new_article_url", :placeholder => "Web Address"}    
      .control-group
        %label.control-label{:for => "new_article_img"} Got Pic?
        .controls
          .input-prepend
            %span.add-on http://
            %input{:type => :text, :id => "new_article_image_url", :name => "new_article_image_url", :placeholder => "Image Address"}   
                  
          
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
    %button.btn.btn-primary#new_article_submit Send

:javascript

jQuery(document).ready(function() {

  var api=jQuery('.megafolio-container').megafoliopro({
  filterChangeAnimation:"fade",	// fade, rotate, scale, rotatescale, pagetop, pagebottom,pagemiddle
  filterChangeSpeed:800,					// Speed of Transition
  filterChangeRotate:99,					// If you ue scalerotate or rotate you can set the rotation (99 = random !!)
  filterChangeScale:0.6,					// Scale Animation Endparameter
  delay:20,								       // The Time between the Animation of single mega-entry points
  paddingHorizontal:20,					// Padding between the mega-entrypoints
  paddingVertical:20,
  layoutarray:[4]
  });

  // CALL FILTER FUNCTION IF ANY FILTER HAS BEEN CLICKED
  jQuery('.filter').click(function() {	
  api.megafilter(jQuery(this).data('category'));  
  });
  
  window.api = api;
});